
body {
    background-image: url('imagenes/fondoquienessomos.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

img {
    width: 80%;
    max-width: 400px;
    height: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}


a:hover {
    color: #0056b3;
    text-decoration: underline;
}