body {
    background: linear-gradient(to right, rgba(11, 37, 239, 0.65), rgba(76, 121, 157, 0.75));
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Slab', serif;

}

.encabezado {
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
}

nav {
    padding: 5px;
    background-color: rgba(220, 220, 220, 0.47);
    border: 2px solid #698cd9;
    border-radius: 12px;
}

nav img {
    display: block;
    margin: 0 auto;
}

nav p {
    margin-bottom: 0;
    text-align: center;
}

nav img, nav p {
    margin-top: 10px;
}

.section1 {

    text-align: center;
    padding: 5px;
    padding-block: 10px;
    border-radius: 14px;


}

.section2 {
    margin-top: 40px;
    text-align: center;
    color: #5d5959;
    background-color: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 80px;
    border-radius: 14px;


}


h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

select {
    font-size: 18px;
    padding: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-block-end: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    background: linear-gradient(to right, #6589d5, rgba(160, 213, 241, 0.68));


}

h1 {
    background-color: rgba(66, 78, 210, 0.16);
}

header h2 {
    color: black;
    font-size: 1rem;
/ text-shadow: 1 px 1 px 1 px rgb(93, 89, 89);
/
}

button {
    border: 1px solid #fafafa;
    padding: 10px;
    background-color: #c8d9ff;
    color: #a0d5f1;
    text-transform: uppercase;
    font-family: Tahoma;
    font-weight: 700;
    border-radius: 50px;

}

.video {
    position: relative;
}

.button {
    margin: 10px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
}

.div2 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    background: whitesmoke;
    border-radius: 20px;

}