.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}


body {
    background: linear-gradient(to right, #6589d5, lightskyblue);
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

}

.div2 {
    padding: 100px;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;

}


.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
}

.imagen {

    height: auto;
    border-radius: 12px;
    float: right;
}

.title {
    background: linear-gradient(to right, #f6a546, #fad287);
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.button {
    margin-bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: #cdd9ef;
    color: white;
    border: 2px solid rgba(231, 204, 79, 0.67);
    border-radius: 12px;
    font-size: 20px;
    text-transform: lowercase;
}