body {
    background: rgba(225, 225, 225, 0.83);
    background-size: cover;
    color: #000000;
    max-width: 100%;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-palette: dark;
}
body img {
    display: block;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 35%;
    height: 35%;
}

.title {
    text-align: center;
    background: linear-gradient(to right, #f6a546, #fad287);
    border-radius: 10px;
}

#section{

    font-size: 25px;
    padding: 5px;
    margin: 10px;
    height: auto;
    border-radius: 5px;
}

.button {
    margin-bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: #cdd9ef;
    color: white;
    border: 2px solid rgba(231, 204, 79, 0.67);
    border-radius: 12px;
    font-size: 20px;
    text-transform: lowercase;
}